body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #D38CAD;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
h1 {
    color: #FFD2A5;
    font-size: 2em;
    margin-top: 20px;
}
p {
    color: #FEFFC2;
    font-size: 1.1em;
    margin: 10px 0;
}

@media(max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }
    p {
        font-size: 1em;
    }
}

@media(max-width: 1024px) {
    h1 {
        font-size: 1.8em;
    }
    p {
        font-size: 1.05em;
    }
}

@media(min-width: 1025px) {
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.1em;
    }
}